body{
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-player{
    height: 27.5rem;
    width: 20rem;
    background-color: darkcyan;
    position: relative;
    border-radius: 1rem;
    box-shadow: 2.5px 2.5px 5px darkcyan , -2.5px -2.5px 5px darkcyan;
}
.content li{
    list-style-type: none;
    height: 3rem;
    background: white;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    position: relative;
    left: -1.8rem;
    border-radius: 1rem;
    box-shadow: 2.5px 2.5px 3px darkgray , -2.5px -2.5px 3px white;
}
img {
    height: 3rem;
    width: 3rem;
    background-color: blue;
    border-right: 2px solid black;
    border-radius: 1rem;
}
button{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}
.hide{
    display: none;
}
.volume{
    width: 12.5rem;
    transform: rotate(270deg);
    position: absolute;
    top: 120px;
    left: 200px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}
.progress-bar{
    height: 0.75rem;
    width: 17rem;
    background-color: darkgrey;
    position: relative;
    left: 21px;
    top: 5px;
    border-radius: 1rem;
}